<!-- About Section -->
<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title"><span>C</span>++</h1>
            <br>
            <hr>
            <p>C++ es una Aplicación Multimedia Eucativa orientada a la web, cuyo objetivo es contribuir al proceso de enseñanza-aprendizaje de los estudiantes que toman la asignatura de Computación.</p>
            <p>Esta Aplicación Web contiene 4 capitulos de gran importancia, los cuales son: </p>
            <hr>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="./assets/images/principal/g_a.gif" style="border-radius: 20%;" /></div>
                <h2>Fundamentos <br></h2>
                <p>El Lenguaje C/C++ es un lenguaje poderoso de alto nivel que combina el paradigma de programación estructurado, con las eficiencias del bajo nivel, tales como la habilidad de manipular directamente la memoria. </p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="./assets/images/principal/p_g.gif" style="border-radius: 20%;" /></div>
                <h2>Algoritmos y Estructuras de Control</h2>
              <p>El estudio de las estructuras de control se realiza en base al diseño de algoritmos y a la creación de programas en un lenguaje de programación estructurado como es el Lenguaje C/C++.</p>
            </div>
          <div class="service-item">
            <div class="icon"><img src="./assets/images/principal/frac.gif" style="border-radius: 20%;" /></div>
            <h2>Funciones, Referencias y Punteros<br></h2>
            <p>En un programa estructurado el flujo lógico se puede optimizar con el uso de funciones, referencias y punteros que es parte de la programación modular</p>
          </div>
<!--
            <div class="service-item">
                <div class="icon"><img src="./assets/images/principal/frac.gif" style="border-radius: 20%;" /></div>
                <h2>Open GL <br></h2>
                <p>OpenGL, abreviatura de "Open Graphics Library", es una interfaz de programación de aplicaciones diseñado para representación 2D y 3D gráficos. Proporciona un conjunto común de comandos que se pueden usar para administrar gráficos en diferentes aplicaciones y en múltiples plataformas.</p>
            </div>-->

        </div>
    </div>
</section>
<!-- End About Section -->
