<div style="margin: 50px;">
    <ng-container *ngIf="(asyncTabs | async) === null">
        Loading tabs...
    </ng-container>
    <table>
        <tr>
            <td>
                <h1><b> CAPÍTULO 2 ALGORITMOS Y ESTRUCTURAS DE CONTROL EN LENGUAJE C/C++
                </b></h1>
            </td>
            <td></td>
            <td>
                <a href="https://drive.google.com/uc?id=1yQtGhmytRdEwydcquFPeafxYunAMHTux&export=download" download="Capitulo12021">
                    <mat-icon>cloud_download</mat-icon>Descargar Archivo Capítulo II
                </a>
            </td>
        </tr>
    </table>

    <mat-tab-group [selectedIndex]="selectedIndex.value" (selectedIndexChange)="selectedIndex.setValue($event)">
        <mat-tab label="Introducción">
            <ng-template matTabContent>
            </ng-template>
        </mat-tab>
        <mat-tab label="Objetivos">
            <ng-template matTabContent>
                  </ng-template>
        </mat-tab>
      <mat-tab label="Algoritmo">
        <ng-template matTabContent>
          <mat-tab-group>
            <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
            <mat-tab  label="2.1.1. Definición de Algoritmo">
            </mat-tab>
            <mat-tab  label="2.1.2. Características de los Algoritmos">
            </mat-tab>

            <mat-tab  label="2.1.3. Etapas para la Solución de un Problema">
            </mat-tab>

            <mat-tab  label="2.1.4. Programas y Algoritmos">
            </mat-tab>

            <mat-tab  label="2.1.5. Pseudocódigo como Técnica de Representación de un Algoritmo">
            </mat-tab>

            <mat-tab  label="2.1.6. Diseño Conceptual de Procesos Aplicado a Programas">
            </mat-tab>

            <mat-tab  label="2.1.7. Aplicaciones de Algoritmos en la Vida Cotidiana">
            </mat-tab>

            <mat-tab  label="2.1.8. Estructuras de Control en Lenguaje C/C++">
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </mat-tab>

      <mat-tab label="Estructuras de Control Secuenciales">
        <ng-template matTabContent>
          <mat-tab-group>
            <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
            <mat-tab  label="2.2.1. Escritura">
            </mat-tab>
            <mat-tab  label="2.2.2. Lectura">
            </mat-tab>
            <mat-tab  label="2.2.3. Asignación">
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </mat-tab>

      <mat-tab label="Estructuras de Control de Selección">
        <ng-template matTabContent>
          <mat-tab-group>
            <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
            <mat-tab  label="2.3.1. La sentencia if">
              <br>
              <h2>La Sentencia if</h2>
              <br>
              <p>La sentencia if permite escoger entre ejecutar una instrucción o no ejecutarla. El formato de esta sentencia tiene la siguiente sintaxis:</p>
              <h4><strong>Sintaxis 1:  </strong>  </h4>
              <pre><code [highlight]="prefTab[0].sintaxis1"  [lineNumbers]="true"></code></pre>
              <p>expresión: Expresión lógica que determina si la sentencia o acción se ha de ejecutar. </p>
              <p>sentencia:  La sentencia o acción se ejecuta si la expresión lógica es verdadera. </p>
              <p><strong>Nota: </strong> En esta sintaxis no es necesario utilizar llaves ya que se tiene una sola sentencia o instrucción. </p>
              <h4><strong>Sintaxis 2:  </strong>  </h4>
              <pre><code [highlight]="prefTab[0].sintaxis2"  [lineNumbers]="true"></code></pre>
              <p>expresión: Expresión lógica que determina si la sentencia o acción se ha de ejecutar. </p>
              <p>sentencia: Las acciones o sentencias se ejecutan si la expresión lógica es verdadera. </p>
              <p><strong>Nota: </strong> En esta sintaxis es necesario utilizar llaves ya que se tienen varias sentencias o instrucciones. </p>
              <h4><strong>Ejercicio 2.7: </strong>Escribir un programa que permita ver si un número es par, para lo cual se debe utilizar el operador de módulo, que permite obtener el resto de una división entera.</h4><br>
              <TABLE BORDER WIDTH="100%" CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
                <TR>
                  <TH>N°</TH>
                  <TH>Algoritmo en Pseudocódigo</TH>
                  <TH>Algoritmo en Lenguaje C/C++</TH>
                </TR>
                <tbody *ngFor="let item of prefTab[0].tablaDatos1">
                <TR style="text-align: left">
                  <TD>
                    <ul *ngFor="let i of item.Numero" style="list-style-type: none;">
                      <li>{{i}}</li>
                    </ul>
                  </TD>
                  <TD>
                    <ul *ngFor="let i of item.Pseudo" style="list-style-type: none;">
                      <li>{{i}}</li>
                    </ul>
                  </TD>
                  <TD>
                    <ul *ngFor="let i of item.Codigo" style="list-style-type: none;">
                      <li>{{i}}</li>
                    </ul>
                  </TD>
                </TR>
                </tbody>
              </TABLE><br>
              <h5><strong>Programa 2.7: </strong>Código del programa .</h5><br>
              <pre><code [highlight]="prefTab[0].programa1"  [lineNumbers]="true"></code></pre>
              <p>La Ejecución 2.7, correspondiente a la salida del programa, muestra que el número 6 es par.</p>
            </mat-tab>
            <mat-tab  label="2.3.2. La sentencia if-else">
            </mat-tab>

            <mat-tab  label="2.3.3. Sentencias if-else Anidadas">
            </mat-tab>

            <mat-tab  label="2.3.4. Secuencia de Sentencias if">
            </mat-tab>

            <mat-tab  label="2.3.5. Secuencia de Sentencias if-else">
            </mat-tab>

            <mat-tab  label="2.3.6. Sentencia de Control switch">
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </mat-tab>

      <mat-tab label="Estructuras de Control Repetitivas o Bucles">
        <ng-template matTabContent>
          <mat-tab-group>
            <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
            <mat-tab  label="2.4.1. La sentencia while">
            </mat-tab>
            <mat-tab  label="2.4.2. La sentencia do-while">
            </mat-tab>

            <mat-tab  label="2.4.3. La sentencia for">
            </mat-tab>

            <mat-tab  label="2.4.4. Bucles anidados">
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </mat-tab>

      <mat-tab label="Resumen">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>
      <mat-tab label="Ejercicios Propuestos">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>
      <mat-tab label="Bibliografía">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>
    </mat-tab-group>
  <button mat-button (click)="selectTabNext()" *ngIf="positionCurrentNext">{{titleNext}} <mat-icon>navigate_next</mat-icon></button>
    <button mat-button (click)="selectTabBefore()" *ngIf="positionCurrentBefore"><mat-icon>navigate_before</mat-icon> Atras  &nbsp; &nbsp; &nbsp;&nbsp;</button>

</div>
<!-- EXAMPLES
<mat-tab label="Pracniques">
  <ng-template matTabContent>
    <mat-tab-group>
      &lt;!&ndash; <mat-tab *ngFor="let tab of asyncTabs | async"> &ndash;&gt;
      <mat-tab *ngFor="let tab of praqnique" label="{{tab.label}}">
        <br>
        <table>
          <tr>
            <td>
              <h2 style="color:green;"><strong>{{tab.tituloN}}</strong></h2>
            </td>
            <td>
              <h2>{{tab.titulo}}</h2>
            </td>
          </tr>
        </table>
        <TABLE BORDER WIDTH="100%" CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
          <TR>
            <TABLE>
              <TR><strong>SINOPSIS</strong></TR>
              <TR>{{tab.sinopsisDescrip}}</TR>
            </TABLE>
          </TR>
          <TR>
            <TABLE BORDER WIDTH="100%" CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
              <TR *ngFor="let item of tab.sinopsis">
                <TD><strong>{{item.titulo}}</strong>{{item.descrip}}</TD>
              </TR>
            </TABLE>
          </TR>
        </TABLE><br>
        <a href="{{tab.link}}" download="ProgramaPracnique">
          <mat-icon>save_alt</mat-icon><strong>Descargar {{tab.tituloN}} PracniqueCompGraf.zip</strong>
        </a>
        <br><br>
        <h3><strong>{{tab.A.subtitulo}}</strong></h3>
        <p>{{tab.A.problema}}</p>
        <img src="{{tab.A.fotoPath}}" style="display:block; margin:auto;"><br>
        <h5><strong>{{tab.A.fotoN}}</strong>{{tab.A.fotoDescrip}}</h5><br>
        <p>{{tab.A.problema1}}</p>
        <ul *ngFor="let x of tab.A.problemalist">
          <div>{{x}}</div>
        </ul>
        <h3><strong>{{tab.B.subtitulo}}</strong></h3>
        <div *ngFor="let itemPasos of tab.B.pasosB">
          <h3><strong>{{itemPasos.subtitulo2}}</strong></h3>
          <p><strong>{{itemPasos.tituloproblema}}</strong></p>
          <p>{{itemPasos.parrafo}}</p>
          <img src="{{itemPasos.fotoPath}}" style="display:block; margin:auto; ">
          <p>{{itemPasos.parrafo2}}</p>
          <p>{{itemPasos.parrafo3}}</p>
          <p><strong>{{itemPasos.titulosolucion}}</strong></p>
          <div *ngFor="let item of itemPasos.solucion">
            <mathjax [content]=item.parrafo class='box'></mathjax>
            <img src="{{item.fotoPath}}" style="display:block; margin:auto; ">
          </div>
        </div>
        <h3><strong>{{tab.C.subtitulo}}</strong></h3>
        <dl *ngFor="let itemAlgoritmos of tab.C.algoritmosC">
          <dt>{{itemAlgoritmos.titulo}}</dt>
          <dd>
            <ul *ngFor="let p of itemAlgoritmos.pasos; index as i">
              <div value="{{i+1}}">{{p}}</div>
            </ul>
            <ul *ngFor="let p of itemAlgoritmos.pasosFormulas; index as i">
              <div value="{{i+1}}">{{p}}</div>
            </ul>
          </dd>
        </dl>
        <h3><strong>{{tab.D.subtitulo}}</strong></h3>
        <div *ngFor="let itemCodigos of tab.D.listaCodigo">
          <p>{{itemCodigos.problema}}</p>
          <h5><strong>{{itemCodigos.tablaN}}</strong>{{itemCodigos.tablaDescrip}}</h5><br>
          <pre><code [highlight]="itemCodigos.tablaDatos" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>
        </div>
        <h3><strong>{{tab.E.subtitulo}}</strong></h3>
        <div *ngFor="let item of tab.E.listaPrueba">
          <p>{{item.problema}}</p>
          <img src="{{item.fotoPath}}" style="display:block; margin:auto; width: 75%;"><br>
          <h5><strong>{{item.fotoN}}</strong>{{item.fotoDescrip}}</h5><br>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</mat-tab>
<mat-tab label="Pracniques Propuestos">
  <ng-template matTabContent>
    <mat-tab-group>
      &lt;!&ndash; <mat-tab *ngFor="let tab of asyncTabs | async"> &ndash;&gt;
      <mat-tab *ngFor="let tab of praqniquePropuesto" label="{{tab.label}}">
        <br>
        <table>
          <tr>
            <td>
              <h2 style="color:green;"><strong>{{tab.tituloN}}</strong></h2>
            </td>
            <td>
              <h2>{{tab.titulo}}</h2>
            </td>
          </tr>
        </table>
        <h3><strong>{{tab.subtitulo}}</strong></h3>
        <div *ngFor="let item of tab.listaGeneral">
          <div *ngFor="let i of item.listaParrafoFotos">
            <mathjax [content]=i.problema class='box'></mathjax><br>
            <img src="{{i.fotoPath}}" style="display:block; margin:auto; width: 50%;"><br>
            <h5><strong>{{i.fotoN}}</strong>{{i.fotoDescrip}}</h5><br>
          </div>
          <div *ngFor="let i of item.listaParrafos">
            <mathjax [content]=i.problema class='box'></mathjax><br>
          </div>
          <div *ngFor="let i of item.listaFotos">
            <img src="{{i.fotoPath}}" style="display:block; margin:auto; width: 50%;"><br>
            <h5><strong>{{i.fotoN}}</strong>{{i.fotoDescrip}}</h5><br>
          </div>
        </div>
        <a href="{{tab.linkAnexo}}" download="Anexo">
          <mat-icon>{{tab.iconodescarga}}</mat-icon><strong>{{tab.tituloAnexo}}</strong>
        </a>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</mat-tab>
<mat-tab label="Evaluación">
  <ng-template matTabContent>
    <div class="Evaluacion">
      <app-quiz [propagarNumCapitulo]="num_capitulo"></app-quiz>
    </div>
  </ng-template>
</mat-tab>
<mat-tab label="Juegos">
  <ng-template matTabContent>
    <div class="Snake">
      <app-snake></app-snake>
    </div>
  </ng-template>

</mat-tab>
<mat-tab label="Resumen">
  <ng-template matTabContent>
    <br>
    <h1>Resumen</h1>
    <ul>
      <li>La forma más conveniente de especificar un segmento de línea en la pantalla de una computadora es proporcionan.</li>
      <li>El componente o subsistema GDI (Graphics Device Interface) trabaja junto con el núcleo y la API de Windows do las coordenadas de sus dos puntos finales.</li>
      <li>Un punto es el objeto geométrico más simple y elemental, que permite representar líneas, planos, vectores y todo tipo de figuras geométricas complejas en 2D y 3D como curvas, superficies y sólidos.</li>
      <li>La estructura Point (Point Struct), representa un par ordenado de coordenadas x e y enteras que define un punto en un plano bidimensional.</li>
      <li>La estructura PointF (PointF Struct), representa un par ordenado de coordenadas x e y de punto flotante que define un punto en un plano bidimensional.</li>
      <li>Cuando se necesita trabajar con varios puntos para graficar una Figura Geométrica como un polígono o una curva se puede utilizar un arreglo de puntos.</li>
      <li>Un punto se puede mover desde una localidad a otra de dos maneras: a) Primero, se puede trasladar un punto desde su posición actual a una nueva; b) Segundo, se puede rotar ese punto con respecto a otro en el plano o en los ejes dentro de un espacio a una nueva posición.</li>
      <li>El rectángulo (Rectangle) es una estructura (struct) que almacena un conjunto de cuatro enteros que representan la localización y el tamaño de un rectángulo en un lienzo o canvas.</li>
      <li>Un vector es un ente matemático que tiene módulo (magnitud), dirección y sentido.</li>
      <li>Se pueden graficar las líneas y puntos notables de un triángulo utilizando Geometría Aplicada y utilizando las ecuaciones de traslación de un punto a otro en el mundo de la Computación Gráfica.</li>
      <li>Un vector 2D tiene dos componentes en el plano (x,y) que se lo puede representar gráficamente utilizando líneas con puntos y con flechas, aplicando Geometría Aplicada y utilizando las ecuaciones de traslación de un punto a otro en el mundo de la Computación Gráfica.</li>
      <li>Un vector 3D tiene tres componentes en el plano (x,y,z) que se lo puede representar gráficamente utilizando líneas con puntos y con flechas, aplicando Geometría Aplicada y utilizando las ecuaciones de traslación de un punto a otro en el mundo de la Computación Gráfica.</li>
    </ul>
  </ng-template>
</mat-tab>
<mat-tab label="Bibliografía">
  <ng-template matTabContent>
    <br>
    <h1>Bibliografía</h1>
    <ul>
      <li>Ammeraal, L., Zhang, K., 2017. Computer Graphics for Java Programmers. Springer. Third Edition.</li>
      <li>Lengyel, E., 2011. Mathematics for 3D Game Programming and Computer Graphics. Charles River Media. Third Edition.</li>
      <li>Steeb, W.H., Hardy, A., 2008. Mathematical Tools in Computer Graphics with C# Implementations. World Scientific Pub. Co. Inc. First Edition.</li>
      <li>Spiegel, M., Lipschutz, S., Spellman, D., 2011. Análisis Vectorial. 2° edición. SCHAUM, McGraw-Hill, Interamericana Editores, S.A., México. ISBN: 978-607-15-0550-7.</li>
      <li>Kimberling, C., 1994. Encyclopedia of Triangle Centers. Evansville University. Disponible en: https://faculty.evansville.edu/ck6/encyclopedia/ETC.html</li>
      <li>Beer, F., Jhonston, E.R., Mazurek, D., Eisenberg, E., 2010. Mecánica Vectorial para Ingenieros. Estática. Novena Edición. McGraw-Hill/Interamericana Editores, S.A., México. ISBN: 978-607-15-0277-3.</li>
    </ul>
  </ng-template>
</mat-tab>-->
